html, body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100%;
}

body div main {
    min-height: 100vh;
    align-content: center;
}

main h1 {
    text-align: center;
}

main > search {
    display: block;
    height: fit-content;
    width: 100%;
    margin: 1em auto;
}

main > search input {
    max-width: 80%;
}

main > article {
    padding: 1em;
    border: 1px solid #000;
    margin: 1em 0px;
}

article > section > ul > li {
    justify-content: space-between;
    display: flex;
    flex-flow: nowrap;
    line-height: 1.5em;
}

footer {
    display: block;
    
    padding: 1em auto;
    text-align: center;
}
